# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo


00020101021226860014BR.GOV.BCB.PIX2564pix.hubfintech.com.br/qr/v2/3bcd350c-c6eb-44a8-9d39-7e30a9f782a05204000053039865802BR5925Kabum Comercio Eletronico6009Sao Paulo62070503***6304AF8F